Django==5.1.6
dj-database-url==2.3.0
gunicorn==23.0.0
whitenoise==6.9.0
psycopg2-binary==2.9.10  # If using PostgreSQL
python-dotenv==1.0.1  # For managing environment variables
requests==2.32.3  # For making API requests
openai==0.28.0  # If using OpenAI API
instagrapi==2.1.3  # If using Instagram API
pillow==9.5.0  # For handling images
pydub==0.25.1  # For audio processing
moviepy==1.0.3  # If handling videos
nltk==3.9.1
beautifulsoup4==4.10.0

